{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% block title %}Contáctanos{% endblock %}
{% block content %}
    <div class="container-fluid" style="display:flex;flex-direction: column;">
        <nav class="navbar navbar-expand-sm" style="top:0;width:100%;z-index: 10;background-color: #f8f7f3;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div style="display:flex;flex-direction: row;justify-content: start;">
                                <a class="nav-link" href="/">
                                    <video autoplay muted loop id="loginVideo" style="max-width: 150px;border-radius: 10px;">
                                        <source src="{{ url_for('static', filename='video/boda.mp4') }}" type="video/mp4">
                                    </video>
                                </a>

                                <a class="nav-link" href="/" style="font-size:18px">
                                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                                </a>
                            </div>
                        </li>
                        {% if user %}
                            <li class="nav-item">
                                <a href="/logout" class="btn btn-sm btn-outline-danger" style="margin:10px;font-weight:bold">Cerrar Sesión</a>
                                <a href="/login" class="btn btn-sm btn-outline-success" style="margin:10px;font-weight:bold">Volver al inicio</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid content_body login" style="background-color: #f8f7f3; position: relative;display:flex;flex-direction: row;align-items:flex-start">
            {{ macros.left_panel() }}
            <div class="container-fluid fondo_flor col-md-11">
                <div class="container mt-4">
                    <h1 class="title_base_no_rot text-center" style="color:black">Alojamientos</h1>
                </div>
                {{ macros.space() }}
                {{ macros.space() }}
                {{ macros.space() }}
                {{ macros.space() }}
                <div class="container-fluid">
                    {{ macros.render_especial_carousel(carousel_images) }}
                </div>
            </div>
        </div>
    </div>
    {{ macros.footer() }}
{% endblock %}