{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% block title %}Finca El Campo{% endblock %}
{% block content %}
    <div class="container-fluid main_body">
        <nav class="navbar navbar-expand-sm" style="position:fixed;top:0;width:100%;z-index: 10;background-color: #FAF9F6;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div style="display:flex;flex-direction: row;justify-content: start;">
                                <a class="nav-link" href="/" style="font-size:18px">
                                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="height:5rem"></div>
        <h1 class="title_base">Finca El Campo</h1>
        <div class="container-fluid" style="display:flex;flex-direction: column;">
            <video autoplay muted loop id="doctor" style="width:100%;padding:0px;margin:0px;height:50%">
            <source src="{{ url_for('static', filename='video/boda.mp4') }}" type="video/mp4">
        </div>
        <a href="/login" style="text-decoration: none; color:white;position: absolute;left:1200px;top:150px;"> 
            <video autoplay muted loop id="myVideo" style="opacity:0.8;width:500px;height:500px;z-index:-1;"
                onclick="window.location.href='/login'"
                onmouseenter="document.getElementById('text').style.opacity = 1;"
                onmouseleave="document.getElementById('text').style.opacity = 0;">
            <source src="{{ url_for('static', filename='video/boda2.mp4') }}" type="video/mp4">
        </a>
        <span style="text-decoration: none; color:white;position: absolute;left:1200px;top:150px;"> 
            <div class="btn btn-group" style="padding:0px;margin-bottom:4rem">
                <button type="button" class="btn btn-outline-light btn-lg rounded-0 contact_button" onclick="window.location.href='/contact_us'"><span style="color:black">Contáctanos</span></button>
                <button type="button" class="btn btn-outline-light btn-lg rounded-0 contact_button" onclick="window.location.href='/about_us'"><span style="color:black">Sobre Nosotros</span></button>
            </div>
            
            <div id="text" class="art-text" style="opacity: 0;position: absolute;color: white;left:0px;top:450px;font-size: 2em;">
                <a href="/login" class="art-text" style="text-decoration: none;color:white;font-size:48px;text-wrap: wrap;">
                    <pre>
Celebra tu boda y evento de
manera única!
                    </pre>
                </a>
            </div>
        </span>
    </div>
    
    {{ macros.footer() }}
{% endblock %}