{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% block title %}Finca El Campo, celebra tu boda por todo lo alto!{% endblock %}
{% block content %}
    <div class="container-fluid" style="display:flex;flex-direction: column;">
        <nav class="navbar navbar-expand-sm" style="top:0;width:100%;z-index: 10;background-color: #FAF9F6;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" title="...">
                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div style="display:flex;flex-direction: row;justify-content: start;">
                                <a class="nav-link" href="/">
                                    <video autoplay muted loop id="loginVideo" style="max-width: 150px;border-radius: 10px;">
                                        <source src="{{ url_for('static', filename='video/boda.mp4') }}" type="video/mp4">
                                    </video>
                                </a>

                                <a class="nav-link" href="/" style="font-size:18px">
                                    <img src="{{ url_for('static', filename='images/logo_full.png') }}" style="margin:3px;width:200px" alt=""/>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid content_body login" style="background-color: #FAF9F6; position: relative;display:flex;flex-direction: row;align-items:flex-start">
            <div class="container-fluid col-md-1" style="overflow: hidden; background-color: #FAF9F6">
                <ul style="list-style: none;display: grid; gap: 1rem;margin:0px;padding:0px">
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Reservaciones">Reservaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Finca y Habitaciones">Finca y Habitaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/events" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Eventos">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/aloja" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Alojamientos">Alojamientos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/contact_us" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Contáctanos">Contáctanos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link art-text" href="/about_us" style="font-size: .9rem;" data-bs-toggle="tooltip" data-bs-placement="top" title="Sobre Nosotros">Sobre Nosotros</a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid fondo_flor col-md-11">
                <div class="container-fluid" style="display:flex;flex-direction: column;">
                    <div class="container" style="height:30px"></div>
                    <div class="container-fluid" style="display:flex;flex-direction: row;margin-bottom:5px;justify-content:flex-end">
                        <div id="accordion" style="max-width:50rem">
                            <div class="card" style="background-color: transparent !important;border:none">
                                <div class="card-header rounded" style="background-color:#ead9b1 !important;color:white !important;">
                                    <a class="btn art-text" data-bs-toggle="collapse" href="#collapseOne" style="font-weight:bold">
                                        ▸ Bodas Finca El Campo
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body art-text">
                                        <p style="padding-bottom: 10px;">Celebrar tu boda con nosotros es muy fácil, porque te ofrecemos la flexibilidad que necesitas, dándote distintas opciones:</p>
                                        <ul><li><strong>Reserva todo el evento con nosotros:</strong>&nbsp;Tendrás un servicio integral que incluye catering, decoración, organización de Ceremonia Civil, música, alojamiento… y todo lo que necesitas para que tu evento sea un éxito.</li><li><strong>Alquila las instalaciones y contrata proveedores externos:</strong>&nbsp;Si prefieres tener un mayor control sobre los detalles de tu evento, puedes alquilar nuestras instalaciones y contratar proveedores.</li></ul>
                                        <p style="padding-top: 20px;">En Finca El Campo nos adaptamos a tus necesidades y presupuesto para que tu evento sea inolvidable.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="background-color: transparent !important;border:none">
                                <div class="card-header rounded" style="background-color:#ead9b1 !important;color:white !important;">
                                    <a class="collapsed btn art-text" data-bs-toggle="collapse" href="#collapseTwo" style="font-weight:bold">
                                        ▸ Celebraciones Privadas Finca El Campo
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body art-text">
                                        <p>Te ofrecemos un espacio exclusivo para celebrar cualquier tipo de evento privado, desde fiestas familiares hasta cumpleaños, aniversarios, bautizos, comuniones….</p>
                                        <p>Nos adaptamos a tus necesidades y presupuesto para que tu evento privado sea inolvidable.</p>
                                        <p>Contamos con diferentes modalidades de alquiler que se adaptan a todo tipo de celebraciones:</p>
                                        <ul><li><strong>Alquiler por horas:</strong> Ideal para eventos de corta duración, como cumpleaños o reuniones familiares.</li><li><strong>Alquiler por día:</strong> Perfecto para bautizos, aniversarios…</li><li><strong>Alquiler con alojamiento:</strong> Disfruta de la privacidad de una finca de 8.000m y ofrece a tus invitados la posibilidad de alojarse en ella.</li></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card" style="background-color: transparent !important;border:none">
                                <div class="card-header rounded" style="background-color:#ead9b1 !important;color:white !important;">
                                    <a class="collapsed btn art-text" data-bs-toggle="collapse" href="#collapseThree" style="font-weight:bold">
                                        ▸ Celebraciones Empresa Finca El Campo
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                                    <div class="card-body art-text">
                                        <p>Celebra tu evento corporativo en un entorno único, te ofrecemos un espacio exclusivo y creamos una experiencia memorable para tus empleados, clientes o socios.</p>
                                        <p>Cursos, seminarios, reuniones, presentaciones, aniversarios, etc…</p>
                                        <p>Disfruta de la flexibilidad que necesitas, ya que tienes la opción de reservar todo el evento con nosotros, o alquilar las instalaciones y contrata proveedores externos.</p>
                                        <p>En Finca El Campo ofrecemos un entorno natural incomparable, jardines con impresionantes vistas, piscina, salones de gran capacidad, bodega, cocina en las instalaciones, aparcamiento privado y 6 habitaciones.</p>
                                        <p>Nuestro personal le asesorará y le ayudará en todo el proceso de organización de su evento.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="height:70px"></div>
                    <div class="container-fluid">
                        {{ macros.render_especial_carousel(carousel_images) }}
                    </div>
                </div>
            </div>
        </div>
        {{ macros.footer() }}
    </div> 
{% endblock %}