{% macro render_especial_carousel(images) %}
    <div class="scroll-container" style="display:flex;flex-direction:column;justify-content:  flex-start;">
        <div id="InfiniteScrollWrapper" class="infinite-scroll-wrapper">
            <div id="InfiniteScroll" class="infinite-scroll-content">
                <div class="infinite-scroll-items">
                    {% for image in images %}
                        <div class="item-wrap">
                            <img src="{{ url_for('static', filename=image.image_path.replace('static/', '')) }}" class="d-block w-100 rounded" alt="{{ image.description }}">
                            <span class="text">{{ image.description }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro render_image_carousel(images) %}
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename=image.image_path.replace('static/', '')) }}" class="d-block w-100" alt="{{ image.description }}">
                    <div class="carousel-caption d-none d-md-block">
                        <p>{{ image.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" title="-">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" title="-">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="container-fluid" style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 50vh; text-align: justify;background-color:#FAF9F6;">
        <img src="{{ url_for('static', filename='images/banderas.png') }}" style="width: 50rem; display: block; margin-bottom: 1rem;" alt=""/>
        <p style="max-width: 1300px;">
            FINCA EL CAMPO EVENTOS Y CELEBRACIONES S.L. ha recibido una ayuda de la Unión Europea con cargo al Programa Operativo FEDER de Andalucía 2014-2020, financiada como 
            parte de la respuesta de la Unión a la pandemia de COVID-19 (REACT-UE), para compensar el sobrecoste energético de electricidad a pymes y autónomos especialmente afectados por 
            el incremento de los precios del gas natural y la electricidad provocados por el impacto de la guerra de agresión de Rusia contra Ucrania.
        </p>
    </div>
{% endmacro %}

{% macro space() %}
    <div class="container" style="height:20px"></div>
{% endmacro %}

{% macro left_panel() %}
    <div class="container-fluid col-md-1" style="overflow: hidden;
            background-image: url('../static/images/rosas_background.png'); /* Imagen de rosas */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            min-height:400px;
            border-radius: 8px;
            padding-top:85px;
            padding-left:25px;
            opacity: 0.8;">
        <ul style="list-style: none;display: grid; gap: 1rem;margin:0px;padding:0px">
            <li class="nav-item">
                <a class="nav-link menu_text" href="/reservas" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Reservaciones">Reservaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu_text" href="/fincas" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Finca y Habitaciones">Finca y Habitaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu_text" href="/events" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Eventos">Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu_text" href="/aloja" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Alojamientos">Alojamientos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu_text" href="/contact_us" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Contáctanos">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu_text" href="/about_us" style="font-size: .9rem;color:#889528;font-weight:bold;" data-bs-toggle="tooltip" data-bs-placement="top" title="Sobre Nosotros">Sobre Nosotros</a>
            </li>
        </ul>
    </div>
{% endmacro %}