{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% block title %}Reservaciones{% endblock %}
{% block content %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/reservas.css') }}">
    <div class="landing_page">
        <div class="responsive-container-block big-container">
            <img class="bg-img" id="iq5bf" src="{{ url_for('static', filename='images/clothes-bg.png') }}" alt=""/>
            <div class="responsive-container-block container">
                <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
                    <form class="form-box" action="/register" method="post">
                        <div class="container-block form-wrapper">
                            <b class="text-blk contactus-head">
                                <a class="link" href="" title="-">
                                </a>
                                Suscríbase
                            </b>
                            <p class="text-blk contactus-subhead">
                                Manténgase informado sobre nuestros eventos y fechas de reservas!
                            </p>
                            <div class="responsive-container-block">
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="text" name="username" placeholder="Nombre(s)" required>
                                </div>
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="text" name="lastname" placeholder="Apellido(s)" required>
                                </div>
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="email"name="usermail" placeholder="Correo Electrónico" required>
                                </div>
                                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12" style="width:100%">
                                    <input class="input" type="number" name="phonenumber" placeholder="Número Telefónico">
                                </div>
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%" >
                                    <input class="input" type="password" name="userpass" placeholder="Contraseña" required>
                                </div>
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="password" name="userpass_2" placeholder="Repita contraseña" required>
                                </div>
                            </div>
                            <button class="submit-btn">
                                Estoy Listo!
                            </button>
                            <a href="/reservas" class="btn btn-sm btn-outline-success" style="margin:10px">Tengo una cuenta</a>
                            <!-- Flash messages -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-danger">
                                            <strong>Denegado!</strong> {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ macros.footer() }}
{% endblock %}
