{% extends 'layout.html' %}
{% import 'macros.html' as macros %}
{% block title %}Reservaciones{% endblock %}
{% block content %}
    <link rel='stylesheet' href="{{ url_for('static', filename='css/reservas.css') }}">
    <div class="landing_page">
        <div class="responsive-container-block big-container">
            <img class="bg-img" id="iq5bf" src="{{ url_for('static', filename='images/clothes-bg.png') }}" alt=""/>
            <div class="responsive-container-block container">
                <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
                    <form class="form-box" action="/reservas" method="post">
                        <div class="container-block form-wrapper">
                            <b class="text-blk contactus-head">
                                <a class="link" href="" title="-">
                                </a>
                                Autentíquese
                            </b>
                            <p class="text-blk contactus-subhead">
                                Acceda con sus credenciales!
                            </p>
                            <div class="responsive-container-block">
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="email" id="ijowk-7" name="usermail" placeholder="Correo Electrónico" required>
                                </div>
                                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" style="width:100%">
                                    <input class="input" type="password" id="indfi-5" name="userpass" placeholder="Contraseña" required>
                                </div>
                            </div>
                            <button class="submit-btn">
                                Acceder
                            </button>
                            <a href="/login" class="btn btn-sm btn-outline-danger" style="margin:10px">Volver atrás</a>
                            <a href="/register" class="btn btn-sm btn-outline-success" style="margin:10px">No tengo una cuenta</a>
                            <!-- Flash messages -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-primary alert-dismissible fade show">
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                            <strong>Informe!</strong> {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ macros.footer() }}
{% endblock %}
